.footer {
  position: fixed;
  font-size: 1.5em;
  text-align: center;
  bottom: 0;
  font-weight: bold;
  width: 100%;
  background-color: #282c34;
  color: white;
  height: 25px;
  padding: 10px;
}

.item {
  margin: 20px;
}
